:root {
  font-size: 100%;
  --page-margin: 3%;
  --section-space: calc(1rem + 6%);
}
body {
  background: #fff;
  color: #000;
  font-family: sans-serif;
  line-height: 1.5;
  overflow-wrap: break-word;
  max-width: 40em;
  margin: 0 auto;
  padding: 0 var(--page-margin) var(--section-space) var(--page-margin);
}
a {
  color: blue;
}
a:visited {
  color: purple;
}
h1 {
  font-weight: 300;
  line-height: 1.25;
  font-size: 2.5em;
  text-align: center;
  background: #eee;
  margin-top: 0;
  padding: 1.25em var(--page-margin);
  margin: 0 calc(-1 * var(--page-margin)) var(--section-space) calc(-1 * var(--page-margin));
  text-shadow: 0 0 2px rgb(255, 255, 255, 0.75);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
h2 {
  margin-top: 2rem;
  font-size: 1.5em;
  line-height: 1.25;
}
h3 {
  font-size: 1em;
  margin: 1em 0;
  line-height: 1.25;
}
button {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
ul {
  padding-left: 2rem;
}
li {
  margin: 0.5em 0;
}
video, img {
  max-width: 100%;
}
pre {
  border-left: 2px solid #ccc;
  padding-left: var(--page-margin);
  padding-right: 1em;
  overflow-x: auto;
}
hr {
  border: none;
  border-top: 0.25rem dotted #aaa;
  margin: var(--section-space) calc(-1 * var(--page-margin));
}
section, .section {
  margin-top: var(--section-space);
  margin-bottom: var(--section-space);
}
.meta {
  display: block;
  text-align: center;
  color: #666;
  margin-top: calc(-1 * var(--section-space) + 0.5em);
  font-size: 0.8em;
}
.meta a {
  color: inherit;
}
