body {
  background: #fff;
  color: #000;
  font-size: 100%;
  margin: 0 auto;
  max-width: 40em;
  overflow-wrap: break-word;
  padding: 3%;
  line-height: 1.4;
}
h1 {
  font-weight: normal;
  line-height: 1.2;
}
h2 {
  margin-top: 2em;
  font-size: 1.1em;
}
button {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
li {
  margin: 0.5em 0;
}
video, img {
  max-width: 100%;
}
