body {
    color: #000;
    background-color: #fff;
    margin: 0;
}
header {
    background-color: #f6f6f6;
    padding: 1em;
}
header h1 {
    margin: 0;
}
section {
    padding: 1em;
}
audio {
    max-width: 100%;
}
.captions p {
    padding: 0.5em;
    margin: 0;
}
.captions span {
    display: block;
    font-size: 0.7em;
    line-height: 1.5;
}
.captions p.current {
    background-color: yellow;
}
